/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: #edf1f8;
}

.presc-tab-title {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
  border-radius: 3px 3px 0 0;
}

.presc-tab {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;

}

.presc-tab li {
  padding: 0.75rem 1.25rem;
  color: #2979ff;
  font-weight: bold;
}

.presc-tab li:first-child {
  display: flex;
  align-items: center;
  border-bottom: 2.5px solid #669eff;
  margin-bottom: -2.5px;
}

#delete-another {
  display: none;
}

.card {
  border: 0;
  border-radius: 0 0 3px 3px;
}

.form-control {
  border: 1px solid #e3e6f0;
}

.modal-dialog {
  max-width: 100%;
  padding: 2rem;
  margin: 0;
}

.modal-header,
.modal-footer,
.modal-body {
  background-color: #edf1f8;
}

.modal-preview {
  padding: 0;
}

.modal-header .close {
  padding: 0;
  margin: 0.75rem 1.25rem;
}

.modal-body {
  padding: 0.75rem 1.25rem;
}

.modal-footer {
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.sig-test-title,
.preview-title {
  font-weight: 500;
  padding: .5rem 1.25rem;
  background-color: #f8f9fc;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item {
  border: 0;
  padding: .05rem 1.25rem;
}

.list-group-item:first-child {
  border-radius: 0;
}

.preview-body {
  background-color: #fff;
  padding: .5rem 1.25rem;
  border-radius: 0 0 3px 3px;
}

.pre-data li {
  padding: .2rem 0;
}

.fixed-width {
  display: inline-block;
  text-align: left;
  width: 1.25rem;
}

.phn-rotate {
  transform: rotateY(180deg);
}

.table-header {
  background-color: #f8f9fc;
}

.table-body {
  background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, .01);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.scrollbar {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}